@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center alert alert-info">
    <h3 class="display-4">Welcome to ReparaPC</h3>
            <div class="col-sm-5">
                <img src="~/Uploads/reparapc.png" title="reparapc" class="card-img" alt="reparapc">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h4 class="card-title">Welcome to AftebiClassroom</h4>
                    <p class="card-text" style="font-size: 22px">
                        What is AFTEBI?
                        It is a non-profit association, with public utility objectives, constituted to give
                        substance to one of the largest Technological Schools currently operating in the country
                        and, with the purpose of training people and empowering companies with these assets,
                        in technological areas. , at a post-secondary level - currently conferring the Level V
                        Professional Qualification, through the Technological Specialization Diplomas (DET).
                    </p>
                    <span class="small text-muted">Image Courtesy: <a target="_blank" href="https://www.aftebi.pt/">AFTEBI </a></span>
                </div>
            </div>
</div> -->
<div class="text-center alert alert-info">
    <h3 class="display-4">Welcome to ReparaPC</h3>
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img src="~/Uploads/reparapc.png" title="reparapc" class="card-img" alt="reparapc">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <p class="card-text" style="font-size: 26px">
                        
                        This application offers proposals to incorporate the management systems of a computer repair
                        company, ReparaPC (not real name). The activities encompassed by the web-application involve
                        the Human Resources functions, the Materials Acquisition functions and the Stock Requisition
                        functions.
                    </p>
                    <span class="small text-muted">Image Courtesy: <a target="_blank" href="https://www.canva.com/"> Canva.com </a></span>
                </div>
            </div>
        </div>
    </div>
